:root {
  --radius: 0.75rem;
  --background: oklch(0.984 0.006 88);
  --foreground: oklch(0.247 0.017 247);
  --card: oklch(0.995 0.004 90);
  --card-foreground: oklch(0.247 0.017 247);
  --popover: oklch(0.998 0.003 90);
  --popover-foreground: oklch(0.247 0.017 247);
  --primary: oklch(0.48 0.11 210);
  --primary-foreground: oklch(0.985 0.005 95);
  --secondary: oklch(0.932 0.018 92);
  --secondary-foreground: oklch(0.31 0.02 246);
  --muted: oklch(0.949 0.011 88);
  --muted-foreground: oklch(0.49 0.02 248);
  --accent: oklch(0.925 0.028 167);
  --accent-foreground: oklch(0.29 0.03 215);
  --destructive: oklch(0.62 0.23 28);
  --border: oklch(0.87 0.013 84);
  --input: oklch(0.87 0.013 84);
  --ring: oklch(0.57 0.09 210);
  --chart-1: oklch(0.57 0.13 211);
  --chart-2: oklch(0.64 0.14 162);
  --chart-3: oklch(0.66 0.17 62);
  --chart-4: oklch(0.62 0.16 27);
  --chart-5: oklch(0.49 0.09 250);
  --sidebar: oklch(0.968 0.01 84);
  --sidebar-foreground: oklch(0.247 0.017 247);
  --sidebar-primary: oklch(0.48 0.11 210);
  --sidebar-primary-foreground: oklch(0.985 0.005 95);
  --sidebar-accent: oklch(0.92 0.02 168);
  --sidebar-accent-foreground: oklch(0.29 0.03 215);
  --sidebar-border: oklch(0.87 0.013 84);
  --sidebar-ring: oklch(0.57 0.09 210);
}

.dark {
  --background: oklch(0.2 0.018 245);
  --foreground: oklch(0.94 0.008 90);
  --card: oklch(0.244 0.017 244);
  --card-foreground: oklch(0.94 0.008 90);
  --popover: oklch(0.264 0.016 244);
  --popover-foreground: oklch(0.94 0.008 90);
  --primary: oklch(0.72 0.12 203);
  --primary-foreground: oklch(0.23 0.025 244);
  --secondary: oklch(0.31 0.018 243);
  --secondary-foreground: oklch(0.94 0.008 90);
  --muted: oklch(0.285 0.013 243);
  --muted-foreground: oklch(0.72 0.015 90);
  --accent: oklch(0.35 0.04 168);
  --accent-foreground: oklch(0.95 0.009 90);
  --destructive: oklch(0.68 0.19 23);
  --border: oklch(1 0 0 / 14%);
  --input: oklch(1 0 0 / 18%);
  --ring: oklch(0.66 0.1 203);
  --chart-1: oklch(0.68 0.13 203);
  --chart-2: oklch(0.72 0.14 160);
  --chart-3: oklch(0.73 0.16 70);
  --chart-4: oklch(0.69 0.16 29);
  --chart-5: oklch(0.72 0.11 250);
  --sidebar: oklch(0.23 0.017 244);
  --sidebar-foreground: oklch(0.94 0.008 90);
  --sidebar-primary: oklch(0.72 0.12 203);
  --sidebar-primary-foreground: oklch(0.23 0.025 244);
  --sidebar-accent: oklch(0.32 0.03 168);
  --sidebar-accent-foreground: oklch(0.95 0.009 90);
  --sidebar-border: oklch(1 0 0 / 12%);
  --sidebar-ring: oklch(0.66 0.1 203);
}
